<!DOCTYPE HTML>

<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- JavaScript -->
		<script src="../controllers/reviewform.js"></script>
  </head>
  <body>

		<!-- Start Review -->
		<h1>AV&Co. Online Review Form</h1>
		<button><a href="/review-type">New Review</a></button>

		<button><a href="/logout">Logout</a></button>

  </body>
</html>
