<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
    <meta charset="utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- JavaScript -->
		<script src="../controllers/reviewform.js"></script>
	</head>
	<body>
		<!-- Header -->
    <header>
      <img src="./images/F_Altman_Vilandrie_Logo.png" alt="Altman Vilandrie & Co." height="50">
    </header>

			<!-- Main -->
			<h1>Sign In</h1>
      <form method="post" action="/login">
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <input type=submit value="Log In">
      </form>


	</body>
</html>
