<!DOCTYPE HTML>

<html>
	<head>
		<title>Structured Problem Solving & Critical Thinking</title>
		<meta charset="utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- JavaScript -->
		<!-- <script src="../controllers/reviewform.js"></script> -->
  </head>
  <body>
		<div id="header">
			<img src="./images/F_Altman_Vilandrie_Logo.png" alt="Altman Vilandrie & Co." height="50">
		</div>
		<ul id="menu">
			<li><a href="/review-type">Review Type</a></li>
			<li><a href="/project-details">Project Details</a></li>
			<li><a href="/problem-solving">Problem Solving</a></li>
		</ul>

		<div id="problem-solving">
			<div class="category">
				<h2>Structured Problem Solving & Critical Thinking</h2>
			</div>

			<form action="/problem-solving" method=post>
				<table>
					<tr>
						<th>Competency</th>
						<th>Scores</th>
					</tr>
					<tr>
						<td></td>
						<td><strong>N/A</strong> - Limited independent responsibility</td>
						<td><strong>Contributing</strong> - but with consistent guidance required</td>
						<td><strong>Competent</strong> - Often gets it right but requires oversight and/or guidance with more complex problems</td>
						<td><strong>Excellent</strong> - can be relied on to execute at a high level of quality/completeness in a wide range of situations</td>
					</tr>
					<tr>
						<td><b>Issue Idenitification</b>: Identifies the key issues and relevant questions to be answered</td>
						<td><input type="radio" name="issue-id" value="N/A"></td>
						<td><input type="radio" name="issue-id" value="contributing"></td>
						<td><input type="radio" name="issue-id" value="competent"></td>
						<td><input type="radio" name="issue-id" value="excellent"></td>
					</tr>
					<tr>
						<td><b>Hypothesis Generation</b>: Develops logical and high quality hypotheses that can be reasonably tested</td>
						<td><input type="radio" name="hypothesis-gen" value="N/A"></td>
						<td><input type="radio" name="hypothesis-gen" value="contributing"></td>
						<td><input type="radio" name="hypothesis-gen" value="competent"></td>
						<td><input type="radio" name="hypothesis-gen" value="excellent"></td>
					</tr>
					<tr>
						<td><b>Framing & Problem Structuring</b>: Can apply or develop an appropriate framework to breakdown the issues and questions into logical components that can be tested/analyzed independently to validate or refute hypotheses</td>
						<td><input type="radio" name="framing" value="N/A"></td>
						<td><input type="radio" name="framing" value="contributing"></td>
						<td><input type="radio" name="framing" value="competent"></td>
						<td><input type="radio" name="framing" value="excellent"></td>
					</tr>
					<tr>
						<td><b>Adaptability & Iteration</b>: CStructures analyses to all for iteration; reacts to intermediate findings and can adapt approach appropriately</td>
						<td><input type="radio" name="adaptability" value="N/A"></td>
						<td><input type="radio" name="adaptability" value="contributing"></td>
						<td><input type="radio" name="adaptability" value="competent"></td>
						<td><input type="radio" name="adaptability" value="excellent"></td>
					</tr>
					<tr>
						<td><b>Developing Findings & Conclusions</b>: Draws logical conclusions from findings and dries to client insights</td>
						<td><input type="radio" name="developing-findings" value="N/A"></td>
						<td><input type="radio" name="developing-findings" value="contributing"></td>
						<td><input type="radio" name="developing-findings" value="competent"></td>
						<td><input type="radio" name="developing-findings" value="excellent"></td>
					</tr>
					<tr>
						<td><b>Identifiying Client Implications</b>: Identifies critical implications of findings relevant to the client</td>
						<td><input type="radio" name="id-implications" value="N/A"></td>
						<td><input type="radio" name="id-implications" value="contributing"></td>
						<td><input type="radio" name="id-implications" value="competent"></td>
						<td><input type="radio" name="id-implications" value="excellent"></td>
					</tr>
				</table>

				<input type=submit value="Next"></input>
			</form>
		</div>

  </body>
</html>
