<!DOCTYPE HTML>

<html>
	<head>
		<title>Project Details</title>
		<meta charset="utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- JavaScript -->
		<script src="../controllers/reviewform.js"></script>
  </head>
  <body>

		<!-- Project Details -->
		<% if (type == "Reviewee (Self-Evaluation)") { %>
			<form action="/project-details" method="post">
			  Reviewee: <input type="text" name="reviewee_name"><br>
				Project Code: <input type="text" name="project_code"><br>

        <input type="submit" value="Next">
      </form>
		<% } else { %>
			<form action="/project-details" method="post">
			  Reviewee: <input type="text" name="reviewee_name"><br>
				Reviewer: <input type="text" name="reviewer_name"><br>
				Project Code: <input type="text" name="project_code"><br>
				Project Start: <input type="date" name="project_start"><br>
				Project End: <input type="date" name="project_end"><br>
				Review Date: <input type="date" name="review_date"><br>
				Team: <input type="text" name="team"><br>
				Composition: <input type="text" name="composition"><br>

        <input type="submit" value="Next">
      </form>
		<% } %>

  </body>
</html>
