<html>
	<head>
		<title>Congrats!</title>
		<meta charset="utf-8" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- JavaScript -->
		<script src="../controllers/reviewform.js"></script>
  </head>
  <body>
    <h1> Congrats on finishing your review!</h1>
  </body>
</html>
